@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

:root {
    --dark-grayish-blue: #48556a;
    --desaturated-dark-blue: #6d7f97;
    --grayish-blue: #9eafc2;
    --light-grayish-blue: #ecf2f8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-grayish-blue);
    padding: 15px;
}


.container {
    max-width: 730px;
    display: flex;
    margin-bottom: 15px;
}

.pic > img {
    display: inline-block;
    height: 100%;
    width: 290px;
    border-radius: 15px 0 0 15px;
}

.right {
    position: relative;
}

.desc {
    display: flex;
    flex-direction: column;
    padding: 35px;
    background-color: #fff;
    border-radius: 0 15px 15px 0;

}

.header {
    color: var(--dark-grayish-blue);
    margin-bottom: 15px;
    letter-spacing: .5px;
}

.details {
    font-size: 13px;
    color: var(--desaturated-dark-blue);
    line-height: 1.5;
    margin-bottom: 15px;
}

.profile {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.person {
    flex-basis: 80%;
    display: flex;
}

.person > img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: block;
    margin-right: 15px;
}

.name h4 {
    font-size: 14px;
    color: var(--dark-grayish-blue)
}

.name span {
    font-size: 13px;
    color: var(--desaturated-dark-blue)
}

.svg {
    cursor: pointer;
    height: 30px;
    width: 30px;
    background-color: var(--light-grayish-blue);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .2s ease;
}

.svg:hover {
    background-color: var(--desaturated-dark-blue);
}

.svg svg {
    fill: var(--desaturated-dark-blue);
}

.svg:hover svg {
    fill: #fff;
}

.hidden {
    visibility: hidden;
    display: none;
}

.active-state {
    background-color: var(--dark-grayish-blue);
    padding: 12px 25px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 35%;
    right: -9%;
}

.active-state::before {
    content: '';
    width: 13px;
    height: 13px;
    background-color: var(--dark-grayish-blue);
    position: absolute;
    bottom: 0;
    left: 45%;
    transform: translateY(50%) rotate(45deg);
}

.active-state > span {
    font-size: 10px;
    color: var(--grayish-blue);
    letter-spacing: 3px;
}

.active-state > *:not(:last-child){
    margin-right: 10px;
}

.attribution {
    position: absolute;
    bottom: 15px;
}

.active-state > img {
    width: 15px;
}


@media (max-width: 670px) {
    body {
        line-height: 1.7;
    }

    .container {
        flex-direction: column;
        width: 90%;

    }

    .pic > img {
        width: 100%;
        border-radius: 15px 15px 0 0;
    }

    .right {
        margin-top: -8px;
    }

    .desc {
        border-radius: 0 0 15px 15px;
        padding: 25px 25px 15px;
    }

    .profile {
        margin-top: 20px;
    }

    .active-state {
        top: 75%;
        left: 0;
        bottom: 0;
        right: 0;
        border-radius: 0;
        border-radius: 0 0 15px 15px;
    }

    .active-state::before {
        content: '';
        width: 0;
        height: 0;
    }

    .active-state > *:not(:last-child) {
        margin-right: 30px;
    }

    .svg {
        position: absolute;
        z-index: 100;
        top: 17px;
        right: 0;
        background-color: var(--light-grayish-blue);
    }
}

@media (max-width: 375px) {
    body {
        font-size: 13px;
    }

    .details {
        margin-bottom: 15px;
    }

    .active-state {
        top: 77%;
    }

    .active-state > *:not(:last-child){
        margin-right: 20px;
    }

    .svg {
        top: 12px;
    }
}